body{
  background-color: bisque;

}

table{
  width: 80%;
  margin: 40px auto;
  background: rgb(124,154,167);
}

table.list{
  text-align: center;
  width: 100%;
}

td{
  border: 1px solid rgb(204,200,200);
  text-align: left;
  padding: 8px 15px;
}
